*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{

    background-image: url(hogwarts.jpg);
    background-size: cover;
    background-position:cover;
    
    /* background: grey;
     */
}


section{
    
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background: white; */

}
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
header .logo{
    position: relative;
    
    
}
.logo{
    border-radius: 50%;
}
header ul{
    position: relative;
    display: flex;

}

header ul li{
    list-style: none;
    
}
header ul li a{
    display:inline-block;
    color: grey;
    font-weight: 400;
    font-size: 23px;
    margin-left: 40px;
    text-decoration: none;

}
header ul li a:hover{
    color: white;
}

.content{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.content .text{
    /* margin-top:25em; */
    position: relative;
    max-width: 600px;
}
.content .text h2{
    color: rgb(180, 176, 176);
    font-size: 4em;
    line-height: 1.4em;
    font-weight:500 ;
}
.content .text h2 span{
    color: #EDB440;
    font-size: 1.2em;
    font-weight: 900;


}
.content .text p{
    color: white;
    font-size: 22px;
    
}
.content .text a{
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background: #EDB440;
    color: white;
    border-radius: 40px;
    font-weight: 500;
    text-decoration: none;
    letter-spacing: 1px;


}
.content .imgbox{
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
    margin-top: 50px;
}
.content .imgbox img{
    max-width: 250px;
}
.dots{
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
}
.dots li{
    list-style: none;
    display: inline-block;
    margin: 10px 20px;
    cursor: pointer;
    transition: 0.5s;
}
.dots li:hover{
    transform: translateY(-15px);
}
.dots li img{
    max-width: 50px;
}
.icons{
   position: absolute;
   bottom: 10;
   margin: 10;
   transform: translateY(-50%);
   display: flex;
   justify-content: space-around;
   align-items: center;
   flex-direction:column; 
}
.icons img{
    max-width: 40px;
    padding-bottom: 0.5em;

}
.icons li{
    list-style: none;

}
.icons li a{
    display: inline-block;
    margin: 0px 20px;
}
.circle{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #1E0C02;
    opacity: 0.5;
    clip-path: circle(600px at right 800px);
}
.footer{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}